/* CSS Document */

@import url("../css/css.css");

.zt_banner{ background:url(../picture/zt-cont.jpg) no-repeat center; height:442px; margin:50px 0 0 0;}
.zt_box{ width:1200px; margin:0 auto; overflow:hidden;}
.zt_con_fx{ position:relative; height:442px;}
.zt_con_fx .maskbg{ position:absolute; right:0px; bottom:10px;  width:280px; height:44px; border-radius:30px;}
.bdsharebuttonbox{ position:absolute; right:10px; bottom:13px; color:#fff; line-height:37px;}

.ztinfo_con{ background:url(../images/zt-cont.jpg) no-repeat center top #f0f0f0; padding:0 0 50px 0;}
.ztinfo_con .ztinfo_title{ height:72px; line-height:72px; font-size:48px; color:#32425c; font-weight:bold; text-align:center; background:url(../images/zt-line.jpg) repeat-x 0 40px; margin:30px 0 0 0;}
.ztinfo_title .ztinfo_titlebg{ background:#ebebeb; padding:0 20px;}
.ztinfo_title .ztinfo_c1{ font-size:60px; padding:0 15px;}
.ztinfo_dd{ background:url(../images/zt-dd.png) no-repeat center 0; width:776px; height:59px; margin:20px 0 0 166px; padding:20px 20px 0 70px; color:#fff; font-size:15px; line-height:24px;}
.ztinfo_conlist{ padding:70px 0 130px 0;}
.ztinfo_con .ztinfo_list{ width:1226px; height:307px;}
.ztinfo_con .ztinfo_top{ padding-top:30px;}
.ztinfo_con li{ height:277px; width:178px; float:left; padding-right:26px;}
.ztinfo_con .ztinfo_imglist{ position:relative; width:178px; height:215px; overflow:hidden; display:block;} 
.ztinfo_con a.ztinfo_imglist .ztinfo_btn{  background:url(../images/zt-dd.png) no-repeat -198px -89px; width:54px; height:34px; position:absolute; left:63px; top:92px; display:none; }
.ztinfo_con a.ztinfo_imglist:hover .ztinfo_btn{ display:block;}
.ztinfo_con .ztinfo_img{ height:215px; overflow:hidden;}
.ztinfo_con .ztinfo_namebg{ background:url(../images/zt-dd.png) no-repeat 0 -89px; width:170px; height:53px; padding:8px 0 0 8px;}
.ztinfo_con .ztinfo_border{ border-bottom:1px solid #cdcdcd;}
.ztinfo_con .ztinfo_border1{ border-top:1px solid #cdcdcd;}
.ztinfo_con .ztinfo_namebg p{ width:165px; overflow:hidden;}
.ztinfo_con .ztinfo_name{ height:24px; line-height:24px;}
.ztinfo_con .ztinfo_name a{  font-size:18px;}
.ztinfo_con .ztinfo_ms{ height:22px; line-height:22px; color:#7e7e7e; font-size:14px;}


/*底部*/
.ztinfo_foot{  border-top:1px solid #cccccc; text-align:center; padding:20px 0; color:#666666; line-height:24px;}